<header>
  <h1>My Blog</h1>
  <nav>
    <ul class="blogmenu">
      <li><a href="/">Home</a></li>
      {{#if isLoggedIn}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
      {{else}}
        <li><a href="/login">Login</a></li>
      {{/if}}
      {{!-- <li><a href="/posts/new">New Post</a></li> --}}
    </ul>
  </nav>
</header>
