<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
    <link rel="stylesheet" href="../../css/style.css" >
</head>
<body>
  {{> header}}
  
  <div class="content">
    {{{body}}}
  </div>
  
  {{> footer}}
</body>
</html>
